<%- include('includes/head'); %>

<section class="container">
  <!-- <h1>Lorem ipsum dolor sit amet</h1> -->
  <h1>
    <% if(typeof titulo !== 'undefined') { %>
    <!-- Exibe exatamente o texto -->
    <%= title %> <br />
    <% } else { %>
    O título não foi enviado. <br />
    <% } %>
    <%- title %> <br /> <!-- Renderiza(executa) o texto da variável -->
  </h1>
  <h2>
    <%= umaVariavelLocal %>
  </h2>
  <h3>
    <% number.forEach(n => { %>
    <%= n %>
    <% }) %>
  </h3>
  <form action="/" method="post">
    <label>Cliente</label>
    <input type="text" name="cliente">
    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer'); %>